/**
 * Copyright © 2014-15
 * by "auroraSky"
*/

body{
    /*background-image: url("../assets/svg/bg_d_2.svg");*/
    background: #fffa92;
    /*background-repeat: repeat;*/
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
/*-------------- header ------------------------*/
div.header{
    background: #ffffff;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

}
div.header ul{
    list-style-type: none;
    margin: auto;
    padding: 0px;
}
div.header li{
    float: left;
}
    /*~~~~~~~~~~~~~~ banner ~~~~~~~~~~~~~~~~~~~*/

    .banner{
        background-color: white;
        color: #005eff;
        font-size: 2.5em;
        margin: auto;
        padding: 2px;
        text-align: center;
    }
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~ navigation ~~~~~~~~~~~~~~~~*/
    .navigation{
        background: #ffffff;
        overflow: hidden;
    }
    .navigation li{
        padding: 2px;
    }
    .navigation a{
        background: #025fff;
        color: floralwhite;;
        text-decoration: none;
        font-size: 2.5em;
    }
    .navigation a:hover{
        background: #7f5ce0;
        color: #fff;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*---------------------------------------------*/

/*-------------- content ------------------------*/
div.content{
    background: rgba(255, 255, 255, 1);
    margin: auto;
    min-height: 400px;
}
div.content .content_instance{
    background: #daffde;
    width: 80%;
    margin: auto;
}
/*---------------------------------------------*/

div.footer
{
    background: rgba(0, 94, 255, 1);
    color: aliceblue;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}