/**
 * Copyright © 2014-15
 * by "auroraSky"
*/

body{
    /*background-image: url("../assets/svg/bg_d_2.svg");*/
    background: #fffa92;
    /*background-repeat: repeat;*/
    font-size: 100%;
}

div.main{
    background: deeppink ;
    margin: auto;
    width: 100%;
    max-width: 1366px;

    overflow: hidden;
}

div.navigation
{
    float: left;
    background: #FF4081 ;
    margin: auto;
    width: 100%;
    min-width: 768px;
    padding: 10px;
    margin: 0px;
    color: aliceblue;
}

div.navigation ul
{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    margin-left: 0em;
    margin-right: 0em;
}

div.navigation li
{
    
    float: left;
    font-size: 2em;
    padding: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.navigation a
{
    background: #673AB7;

    color: aliceblue;
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
}
div.navigation a:hover
{
    background: #F44336;
    color: aliceblue;
}

div.navigated_content
{
    background: floralwhite ;

    background-image: url("../assets/svg/bg_d_2.svg");
    background-repeat: repeat;
    margin: auto;
    width: auto;
    min-width: 768px;
    min-height: 768px;
    padding: 10px;

    white-space: pre-wrap;      /* Webkit */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

div.footer
{
    color: aliceblue;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}